body {
    font-family: Calibri;
    margin: 0;
    padding: 0;
}

header {
    background: url('Nav.png') center -12px;'
    object-fit: cover;
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
}

#page-container{
    position: relative;
    min-height: 100vh;
}

#content-wrap{
    padding-bottom: 7.5rem;
}

#footer {
    position: relative;
    z-index: 3;
    bottom: 0;
    background-color: #0e0e0e;
    width: 100%;
    height: 10%;
}

.title {
    cursor: pointer;
    font-family: flegrei, sans-serif!important;
    font-style: normal;
    font-weight: 300;
    font-size: 90px;
}

.title:hover{
    color: #e05555;
}

#small-logo{
    font-family: flegrei, sans-serif!important;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    color: #f5f5f5;
    text-align: center;
}

#footer-text{
    font-family: flegrei, sans-serif!important;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #616161;
    text-align: center;
}


*:focus {
    outline: none!important;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

li{
    font-family: Montserrat;
    display: initial;
    line-height: 110px;
    margin: 0px 10px;
}

ul{
    float: right;
    margin-right: -125px;
}

li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

a.menu {
    background: none;
    transition: .3s;
    text-decoration: none;
}

a.menu:hover {
    background: #151515;
    transition: .3s;
    text-decoration: none;
    border: 1px solid #e05555;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    color: grey;
}

/*.logo {*/
/*    cursor: pointer;*/
/*    margin-right: auto;*/
/*    width: 100px;*/
/*    height: auto;*/
/*}*/

.banner{
    background-image: url(mth1.jpg);
    width: 100%;
    height: 80vh;
    border-top: 3px solid black;
    border-bottom: 3px solid #e05555;
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide 20s infinite;
}

@keyframes slide {
    0%{
        background-image: url(mth1.jpg);
    }
    50%{
        background-image: url(mth2.jpg);
    }

}

.content{
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
}

.content h2{
    color: #fffefe;
    font-size: 60px;
    letter-spacing: 16px;
}


.modal-header {
    border-bottom: 1px solid darkgray!important;
}

.modal-header .close {
    color: #dddddd!important;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #363838!important;
    background-clip: padding-box;
    border: 1px solid darkgray!important;
    border-radius: 0.3rem;
    outline: 0;
    color: #F7FCFC!important;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.modal-footer {
    border-top: 1px solid darkgray!important;
}

h1 {
    position:relative;
    left: -10%;
    height: 25%;
    float: left;
    font-weight: bold;
    color: whitesmoke;
    font-size: 150px;
}

h2 {
    font-weight: bold;
    color: #757474;
    font-size: 100px;
    text-align: center;
}

#header-wrapper {
    width: 1200px;
    margin: 0 auto;
}

#page-wrapper {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 11% !important;
}



#buttom-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.footer-buttons {
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    background: #2196F3;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
}

.footer-buttons:hover {
    color:#DDDDDD;
    border-color:#DDDDDD;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th {
    color: white;
    background-color: #151515;
}
td, th, tr {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 4px;
}

/*.btn-delete {*/
/*    background-color: red;*/
/*    border: none;*/
/*    color: white;*/
/*    padding: 12px 16px;*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*    display: inline-block;*/
/*    border-top-left-radius: 8px;*/
/*    border-bottom-left-radius: 8px;*/
/*    width: 100%;*/
/*}*/

.btn-delete {
    background: #2F4F4F;
    color: white!important;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    border: 2px solid #e05555;
    border-left: 1px!important;
    width: 100%;
    overflow: hidden;
}

.btn-delete::before{
    background: #e05555;
    color: white;
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    transform: scaleX(0);
}

.btn-delete:hover::before{
    transform: scaleX(1.02);
}

.fa-trash {
    position: relative;
    z-index: 1;
}

.btn-view {
    background: #2F4F4F;
    color: white!important;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    border: 2px solid #e05555;
    border-left: 1px!important;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    overflow: hidden;
}

.btn-view::before{
    background: #e05555;
    color: white;
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 0;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    transform: scaleX(0);
}

.btn-view:hover::before{
    transform: scaleX(1.02);
}

.fa-eye {
    position: relative;
    z-index: 1;
}

/*.btn-add {*/
/*    background-color: #2F4F4F;*/
/*    color: white;*/
/*    margin-bottom: 10px;*/
/*    padding: 10px;*/
/*    border-radius: 25px;*/
/*    border-style: none;*/
/*}*/

.btn-add {
    background-color: #2F4F4F;
    position: relative;
    display: block;
    color: white;
    font-size: 14px;
    font-family: Calibri;
    text-decoration: none;
    margin: 10px 0;
    border: 3px solid #e05555;
    border-radius: 8px;
    padding: 14px 9px;
    overflow: hidden;
    transition: 1s all ease;
}

.btn-add::before {
    background-color: #e05555;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    z-index: 0;
    transition: all 0.8s ease;
    width: 100%;
    height: 0;
}

.btn-add:hover::before {
    height: 380%;
}

.add-txt {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 15px;
    z-index: 1;
}

.btn-update {
    background-color: #2F4F4F;
    color: white!important;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    border: 2px solid #e05555;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 100%;
    overflow: hidden;
}

.btn-update::before{
    background: #e05555;
    color: white;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 0;
    transition: transform 0.5s;
    transform-origin: 100% 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    transform: scaleX(0);
}

.btn-update:hover::before{
    transform: scaleX(1.02);
}

.fa-edit {
    position: relative;
    z-index: 1;
}

/* SEARCH BAR */

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #535353;
    float: left;
    width: 40%;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 15%;
    padding: 10px;
    background: #2196F3;
    color: #e05555;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 4px;
}

.search-box {
    position: relative;
    left: -9%;
    display: inline-block;
    top: 88px;
    transform: translate(0, -100%);
    background: #2f3640;
    height: 70px;
    border-radius: 40px;
    padding: 10px;
    z-index: 1;
}

.search-box:hover > .search-txt {
    width: 285px;
    padding: 0 2px;
    color: white;
}

.search-box:hover > .search-btn {
    background: white;
    color: white;
}

.search-btn {
    color: #ac2323;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2f3640;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 50px;
    width: 0px;
}

.viewModal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.viewModal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.viewModal-backdrop.fade {
    opacity: 0;
}

.viewModal-backdrop.show {
    opacity: 0.5;
}

.viewModal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.viewModal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.viewModal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.viewModal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.viewModal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.viewModal-footer > :not(:first-child) {
    margin-left: .25rem;
}

.viewModal-footer > :not(:last-child) {
    margin-right: .25rem;
}

.viewModal {
}

.viewForm-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



